.categorias-container {
    text-align: center;
    padding: 20px;
  }
  
  .categorias-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .categoria-card {
    cursor: pointer;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    width: 150px;
    transition: transform 0.2s;
  }
  
  .categoria-card:hover {
    transform: scale(1.05);
  }
  
  .categoria-card img {
    width: 100px; /* Ajusta el tamaño según necesites */
    height: 100px;
    object-fit: cover;
    border-radius: 50%; /* Hace la imagen circular */
    border: 2px solid #ddd; /* Agrega un borde opcional */
    padding: 5px;
  }
  